.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #949BA0;
  height: 60px;
  padding: 10px;
  border-radius: 40px;
  z-index: 100;
}

.search-box:hover>form .search-txt {
  width: 200px;
}

.search-box:hover>form .search-btn {
  background: #464E54;
}

.search-btn {
  color: #EDEDED;
  float: right;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #949BA0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-txt {
  float: left;
  padding: 10px 0 10px 0;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 15px;
  line-height: 40px;
  width: 0;
  transition: 0.5s;
}

.nav-wrapper {
  position: relative;
  background-color: grey;
  height: 100px;
}

.nav-menu {
  position: absolute;
  top: 0;
  right: 0;
}

.verdict-chart {}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */